# Created by and for operating systems (e.g. MacOS)
.DS_Store
._*

# IDEs
.Rproj.user/
*.Rproj
.vscode/

# Apptainer container
*.sif

# Local (hidden) for applications
.snakemake/
.quarto/
_*.local
.cache
.config

# R
.Rhistory
.RData
Rplot.pdf

# Python compiled versions
__pycache__

# Local for HPC systems
/*.slurm
/to_slurm.R
*.swp
nohup.out

# Temporary files
temp
tmp

# Test files
test.*

# Accidentally created output files
*.html
*.pdf


