# Files created by Shiny app 
#/params.yml

# Created by and for operating systems (e.g. MacOS)
.DS_Store
._*

# Apptainer container
*.sif

# Local dirs/files for IDEs
#.Rproj.user/
#*.Rproj
.vscode/
*.code-workspace

# Local (hidden) files and directories for some applications
.snakemake/
.quarto/
_*.local
.cache
.config

# R
.Rhistory
.RData
Rplot.pdf

# Python compiled versions
__pycache__

# Local for HPC systems
/*.slurm
/to_slurm.R
*.swp
nohup.out

# Temporary files
temp
tmp

# Test files
test.*
test_*

# Accidentally created output files
*.html
*.pdf




*.xlsx
*.xls
*.rds
